
{{#if weegieData}}
<h3 class="text-success">Add a New Weegie Question</h3>
<form method="post">

 <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">Question:</h3>
    </label>
    <input type="text" id="inputSuccess1"  class="form-control form-control-success mb-4" name="title" value="{{this.weegieData.title}}">
   </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise a:</h3>
    </label>
    <input type="text" name="a" value="{{this.weegieData.choices.a}}" class="form-control form-control-success mb-4">
   </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise b:</h3>
    </label>
        <input type="text" name="b" value="{{this.weegieData.choices.b}}" class="form-control form-control-success mb-4">
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise c:</h3>
    </label>
        <input type="text" name="c" value="{{this.weegieData.choices.c}}" class="form-control form-control-success mb-4">

   </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise d:</h3>
    </label>
        <input type="text" name="d" value="{{this.weegieData.choices.d}}" class="form-control form-control-success mb-4" >
   </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">answer<p class="text-danger">(write the correct choice letter: a,b,c,d):</p></h3>
    </label>
        <input type="text" name="answer" value="{{this.weegieData.answer}}" class="form-control form-control-success mb-4">
  </div>

    <button class="btn btn-lg btn-danger" type="submit">Edit Question</button>
   
</form>
{{else}}
<h3 class="text-success">Add a New Weegie Question</h3>
<form method="post">

 <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">Question:</h3>
    </label>
        <input type="text" name="title" value="" class="form-control form-control-success mb-4" >
   </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise a:</h3>
    </label>
        <input type="text" name="a" class="form-control form-control-success mb-4" >
   </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise b:</h3>
    </label>
        <input type="text" name="b" class="form-control form-control-success mb-4" >
   </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise c:</h3>
    </label>
        <input type="text" name="c" class="form-control form-control-success mb-4" >
   </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise d:</h3>
    </label>
        <input type="text" name="d" value="" class="form-control form-control-success mb-4" >
   </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">answer<p class="text-danger">(write the correct choice letter: a,b,c,d):</p></h3>
    </label>
        <input type="text" name="answer" value="" class="form-control form-control-success mb-4">
   </div>

    <button class="btn btn-lg btn-danger" type="submit">Add New Question</button>
   
</form>
{{/if}}